@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    scrollbar-gutter: stable;
    tab-size: 2;
  }

  body {
    @apply bg-white dark:bg-gray-900;
  }

  pre {
    white-space: pre-wrap;
  }
}
