@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    scrollbar-gutter: stable;
  }

  body {
    @apply break-words bg-white text-gray-700 dark:bg-gray-900 dark:text-gray-300;
    tab-size: 2;
  }

  pre {
    white-space: pre-wrap;
  }
}
